kubeletmein
kubeletmein-linux
dist/**
bootstrap-kubeconfig
ca-certificates.crt
kubeconfig
.vscode
kubelet.*
deploy/terraform/*/.terraform*
deploy/terraform/*/*.tfplan
deploy/terraform/*/terraform.tfstate*
deploy/terraform/*/kubeconfig*
